@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  background: linear-gradient(#090909, #4e0000) fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.login-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  margin-top: 20px;
}

.login-box {
  width: 350px;
  background: fixed linear-gradient(#ff7d7d64, #3a0606);
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #ff0000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap: 20px;

  box-shadow: 0px 0px 20px #ff00008c;
}

.login-header {
  text-align: center;
  margin-bottom: 5px;
}

label {
  text-align: left;
  font-size: 14px;
  color: white;
}

input {
  padding: 10px;
  border: 1px solid #ff5656;
  border-radius: 6px;
  background: transparent;
}

button {
  width: 50%;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 30px;
  padding: 3px 10px;
  background-color: transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: #ff0000;
  color: white;
  transition: 0.3s;
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-box {
  animation: entrada 0.8s ease-out;
}
