<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styleglobal.css' %}" />
    <title>Cadastro</title>
  </head>
  <body>
    <h1>Cadastro</h1>
    <form method="post">
      {% csrf_token %}
      <label for="id_username">Nome:</label>
      <input type="text" name="username" id="id_username" />

      <label for="id_password">Senha:</label>
      <input type="password" name="password1" id="id_password" />

      <label for="id_password_confirm">Confirmar Senha:</label>
      <input type="password" name="password2" id="id_password_confirm" />

      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
